body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('data:image/svg+xml,<svg width="32" height="32" xmlns="http://www.w3.org/2000/svg"><circle cx="2" cy="2" r="2" fill="%23282828" opacity="0.21" /></svg>');
    background-size: 27.5px;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}

header {
    background-color: #1E1E1E;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sign-in, .register {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}

.register {
    background-color: white;
    color: #333;
}

.container {
    background: rgba(255, 255, 255, 1);
    margin: auto;
    padding: 40px;
    border-radius: 8px;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #B71C96; /* Blue */
    border-bottom: 2px solid #B71C96;
    padding-bottom: 5px;
}

button {
    background-color: #B71C96;
    color: white;
    border-color: #B71C96;
    padding: 5px 10px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
}

#charges {
    color: #B71C96;
}

label {
    color: #000000;
}

.content {
    padding: 100px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.introduction, .how-it-works {
    margin-bottom: 40px;
}

h2 {
    color: #B71C96;
}

.nav-extend {
    background-color: #B71C96;
    padding: 10px;
    text-align: center;
}

.nav-extend ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-extend li {
    display: inline;
}

.nav-extend a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-extend a:hover {
    text-decoration: underline;
}

footer {
    background: #000000;
    color: #fff;
    padding: 5px 0px;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p {
    max-width: 500px;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #B71C96;
}

.loading-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.spinner {
    border: 8px solid rgba(183, 28, 150, 0.1); /*#B71C96*/
    border-left-color: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.field-values {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #333;
}

.field-values li {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.field-values li:hover {
    background-color: #EDE7F6; /* Light purple hover effect */
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}